@media only screen and (max-width: 1100px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width:900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 7px;
        border-radius: 20px;
    }

    .nav-bar {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 70px;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 80%;
    
        height: 0; 
        overflow: hidden;
    }

    .nav-bar.active {
        height: 350px;
        transition: .5s;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        transition: .5s;
    }

    .nav-menu.active {
        opacity: 1;
    }

    .nav-link {
        margin: 12px;
    }
}